<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - MklMP The World Security</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/solid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
</head>
<body>
<header>
    <a href="https://github.com/MklMP" class="logo">MklMP <span>Code Express</span>.</a>
    <div class="toggle-container">
        <input type="checkbox" id="theme-toggle">
        <label for="theme-toggle" class="toggle-label">
            <img src="/static/img/solecito.png" class="toggle-icon solecito">
            <img src="/static/img/lunita.png" class="toggle-icon lunita">
        </label>
    </div>
    <nav class="navbar">
        <ul class="main-menu">
            <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100"><a href="/"><span class="fa fa-home" id="nav-icon"></span>Home<span class="menu-animate"></span></a></li>
            <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200"><a href="/templates/portfolio/portfolio.html" class="active"><span class="fa fa-briefcase" id="nav-icon"></span>Blog<span class="menu-animate"></span></a></li>
            <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300"><a href="/templates/skills/skills.html"><span class="fa fa-pie-chart" id="nav-icon"></span>Skills<span class="menu-animate"></span></a></li>
            <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400"><a href="/templates/about/about.html"><span class="fa fa-user-circle" id="nav-icon"></span>About<span class="menu-animate"></span></a></li>
        </ul>
    </nav>
    <button class="fa fa-bars" aria-hidden="true" id="menu-icon"></button>
</header>
<section class="portfolio" id="portfolio">
    <h2 class="heading" data-aos="zoom-out" data-aos-duration="1500" data-aos-delay="100">My <span>Blog</span></h2>
    
    <!-- MklMP The World Security Section -->
    <div class="portfolio-container" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
        <h3 class="section-title"><i class="fa fa-shield"></i> MklMP The World Security</h3>
        <div class="portfolio-box">
            <div class="portfolio-item">
                <img src="/static/img/Logo empresa CyberSecurity llamado MklMP The World Security hacker partes rotas .jpg" alt="MklMP The World Security">
                <div class="portfolio-info">
                    <h4>Cybersecurity Company</h4>
                    <p>MklMP The World Security (Code Express) is a company specialized in cybersecurity services, offering advanced protection solutions and IT security consulting.</p>
                    <ul class="company-services">
                        <li>Security Audits</li>
                        <li>Professional Pentesting</li>
                        <li>Development of Security Tools</li>
                        <li>Cybersecurity Consulting</li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-item">
                <img src="/static/img/Logotipo candado ataque fuerza bruta con tipo dark con partes rotas que tenga como nombre en el logo _CoBreak_, q solo tenga ese nombre.jpg" alt="CoBreak Project">
                <div class="portfolio-info">
                    <h4>Featured Projects</h4>
                    <p>Development of specialized tools for security analysis and system protection:</p>
                    <ul>
                        <li><a href="/templates/projects/cobreak/cobreak-project.html">Center Pack-Tools - To Obtain all information about Windows</a></li>
                        <li><a href="/templates/projects/wibrfake/wibrfake.html">DDos-Network - WiFi Network Analysis and Attack</a></li>
                        
                    </ul>
                    <a href="/templates/projects/projects.html" class="btn">View Projects</a>
                </div>
            </div>
        </div>
    </div>

    <!-- University of Computer Sciences Section -->
    <div class="portfolio-container" data-aos="fade-up" data-aos-duration= "1500" data-aos-delay= "300">
        <h3 class= "section-title"><i class= "fa fa-university"></i> University of Computer Sciences (UCI)</h3>
        <div class= "university-box">
            <div class= "university-item">
                <div class= "university-content">
                    <h4>Academic Training</h4>
                    <p>The UCI, located in Havana, Cuba, is a center of excellence in training professionals in computer sciences and software development.</p>
                    <ul class= "education-details">
                        <li>Specialization in Cybersecurity and Networks</li>
                        <li>Participation in Research Projects</li>
                        <li>Software Development for Security</li>
                    </ul>
                </div>
            </div>

            <!-- Research and Development Section -->
            <div class= "university-item"> 
                <div class= "university-content"> 
                    <h4>Research and Development</h4> 
                    <p>Active participation in cybersecurity research projects:</p> 
                    <ul> 
                        <li>Vulnerability Analysis in Systems</li> 
                        <li>Development of Security Protocols</li> 
                        <li>Implementation of Protection Solutions</li> 
                    </ul> 
                </div> 
            </div>

            <!-- Achievements and Certifications Section -->
            <div class= "university-item"> 
                <div class= "university-content"> 
                    <h4>Acknowledgments and Certifications</h4> 
                    <p>Awards and certifications obtained during academic training:</p> 
                    <ul> 
                        <li><a href="/templates/certifications/certifications.html">CTF Certification Romania Suceava 2024</a></li> 
                        <li>Award for Innovation in Security</li> 
                    </ul> 
                    <a href="/templates/certifications/certifications.html" class= "btn">More</a> 
                </div> 
            </div>

            <!-- Participation in Cybersecurity Events Section -->
            <div class= "university-item"> 
                <div class= "university-content"> 
                    <h4>Participation in Cybersecurity Events</h4> 
                    <p>Notable cybersecurity events participated by the company:</p> 
                    <ul> 
                        <li>Capture The Flag (CTF) MetaRed Mexico 2024</li> 
                        <li>Capture the Flag (CTF) Argentina 2024</li> 
                        <li>Capture The Flag (CTF) Romania Suceava 2024</li> 
                    </ul> 
                    <a href="/templates/participations/participations.html" class= "btn">More</a> 
                </div> 
            </div>

        </div>

        <!-- Personal Profile Section -->
        <!-- Personal Info -->
        <div class="portfolio-container" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400"> 
            <h3 class = "section-title"><i class = "fa fa-user"></i > Personal Profile</h3 > 
            <div class = "profile-box"> 

                <!-- Cybersecurity Enthusiast -->
                <div class = "profile-item"> 
                    <div class = "profile-content"> 
                        <h4>Cybersecurity Enthusiast</h4 > 
                        <p >With over 4 years of experience in the field of information security, I specialize in:</p > 
                        <ul > 
                            <li >Security Audits and Pentesting</li > 
                            <li >Development of Security Tools</li > 
                            <li >Cryptographic Algorithms and Data Security</li > 
                            <li >Red Teaming</li > 
                        </ul > 
                    </div > 
                </div >

                <!-- Community Contributions -->
                <!-- Community Contributions -->
                <div class = "profile-item">  
                   <div class = "profile-content">  
                       <h4> Community Contributions</h4>
                       <p> Active commitment to the cybersecurity community:</p>
                       <ul>
                           <li> Development of Open Source Tools</li>
                           <li> Consistency in helping within the community</li>
                           <li> Mentoring in Training Programs</li>
                       </ul>
                   </div>
                </div>

           </div>
       </div>

   </section>

   <script src = "/ static / js / script.js"></script>
   <script src = "https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script> AOS.init();</script>

</body>
</html>

