<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Certificaciones en Ethical Hacking - MklMP The World Security</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/certifications.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/solid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
</head>
<body>
    <header>
        <a href="#" class="logo">MklMP <span>Code Express</span>.</a>
        <div class="toggle-container">
            <input type="checkbox" id="theme-toggle">
            <label for="theme-toggle" class="toggle-label">
                <img src="/static/img/solecito.png" class="toggle-icon solecito">
                <img src="/static/img/lunita.png" class="toggle-icon lunita">
            </label>
        </div>
        <nav class="navbar">
            <ul class="main-menu">
                <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100"><a href="/"><span class="fa fa-home" id="nav-icon"></span>Home<span class="menu-animate"></span></a></li>
                <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200"><a href="/templates/portfolio/portfolio.html" class="active"><span class="fa fa-briefcase" id="nav-icon"></span>Blog<span class="menu-animate"></span></a></li>
                <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300"><a href="/templates/skills/skills.html"><span class="fa fa-pie-chart" id="nav-icon"></span>Skills<span class="menu-animate"></span></a></li>
                <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400"><a href="/templates/about/about.html"><span class="fa fa-user-circle" id="nav-icon"></span>About<span class="menu-animate"></span></a></li>
            </ul>
        </nav>
        <button class="fa fa-bars" aria-hidden="true" id="menu-icon"></button>
    </header>

    <section class="certifications" id="certifications">
<h2 class="heading" data-aos="zoom-out" data-aos-duration="1500" data-aos-delay="100">Certificaciones <span>Ethical Hacking</span></h2>
        
        <div class="certifications-container" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
            <div class="certification-box">
<div class="certification-item">
                    <img src="#" alt="Certificación en Ethical Hacking" style="max-width: 300px;">
                    <div class="certification-info">
                        <h4>CTF Suceava 2024</h4>
                        <a href="#" class="btn" target="_blank">Ver</a>
                    </div>
                </div>
                <!-- More certificates can be added here in the future -->
            </div>
        </div>
    </section>

    <script src="/static/js/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
